*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;

}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#fff;
    text-decoration: none;
  
}

.icono{
    animation: moverIzquierda 0.8s ease-in;
    z-index: 10000;
}
header{
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 72vh;
    padding: 48px;
    width: 100%;
}
.conteiner{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}   

img{
    display: block;
    height: 400px;
    object-fit: cover;
    width: auto;
    animation: arriba 1s ease-in;
}

.textos{
    width: 50%;
    color:#fffF
}

.textos h1{
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    font-size: 30px;
    animation: moverIzquierda 0.8s ease-in;
}

.textos a{
    display: inline-block;
    color: #ffff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #ffff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

.wave{
    height: 100px;
    width: 100%;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.uno{
    -webkit-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 0% 0%);
}

.dos{
    -webkit-clip-path: circle(400% at 0% 0%);
    clip-path: circle(400% at 0% 0%);
}




@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moverDerecha{ 
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{ 
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}




@media screen and (max-width: 1000px) {
    img{
        height: 350px;
    }    

}


@media screen and (max-width: 800px) {
    img{
        height: 280px;
    }
    .textos h1{
        font-size: 70px;
    }
   .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    img{
        height: 240px;
    }
    .textos h1{
        font-size: 40px;
    }
   .textos h2{
        font-size: 15px;
    }
}



@media screen and (max-width: 450px) {
    .conteiner{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    img{
        margin-top: 10px;
        height: 180px;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 340px) {
    .conteiner{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    img{
        margin-top: 10px;
        height: 160px;
    }
    .textos h1{
        font-size: 50px;
    }
    .textos h2{
        font-size: 15px;
    }
}


/*Estilos section form*/
.cuerpo{
    margin-top: 100px;
}
.conteiner2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.form-conteiner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 50px;
    color: #444;
    margin-bottom: 10px;
}

.input-filed{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin:10px 0 ;
    border: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-filed i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-filed input{
     background: none;
     outline: none;
     border: none;
     line-height: 1;
     font-weight: 600;
     font-size: 1.1rem;
     color: #333;
}

.input-filed input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: /*#5995fd*/ #d24056;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5;

}

.btn:hover{
    background-color: #b9384b;
}

.conteiner3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteiner-colum{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 400px;
}

.left{
    height: 100%;
    display: flex;
    justify-content: center;
}

.rigth{
    height: 100%;
}

.medidor{
    width: 80%;
    height: 50px;
}

.medidor::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
   background-color: #d24056;
    background-size: 100% 100%;
  }